{#
/**
 * @file
 * Display XSLT pipelines along with the stylessheets.
 *
 * Available variables:
 *  - pipes: An associative array of pipe => files
 *
 * @ingroup themeable
 */
#}

{% for name, description in pipes %}
  <dl class="xsltparser-pipelist">
    <dt>{{ name }}</dt>
    <dd>{{ description }}</dd>
  </dl>
{% endfor %}
